apiversion: v2
name: onecx-k8s
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: 0.3.0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-k8s-crds
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.crds"  
  alias: "crds"
- name: onecx-k8s-db-postgresql-operator
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.db-postgresql-operator"  
  alias: "db-postgresql-operator"
